

<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <span class="navbar-brand" > <img class="img-icon" alter="icon" src="/assets/images/favicon.png" ><b>Vaccination Alarm</b><br><p class="small-text">Set alarm for vaccine before time</p></span>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header ">
      	
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img class="img-icon pull-right img-responsive" alter="icon" src="/assets/images/favicon.png" ><b>Vaccination Alarm</b></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body navbar-dark bg-dark">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-home"></i>   Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-clinic-medical fa-fw"></i>	Search Vaccination Center</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://selfregistration.cowin.gov.in/"><i class="far fa-edit fa-fw"></i>   Manage Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="far fa-id-card fa-fw"></i>   Download Certificate</a>
          </li>
	  <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-phone-alt fa-fw"></i><span>  </span>   Helpline</a>
          </li>      
        </ul>
        
      </div>
    </div>
  </div>
</nav>
<div class="container">
     
      <div class="login-content">
        <form action="#">
          <img class="img-responsive" src="/assets/images/icon.png" alter="user-icon">
          <h4 class="title">Register or Sign in for Vaccination</h4>
          <br>
          <p>An OTP will be sent to your mobile number for verification</p>
          <div class="input-div one">
          
              <i class="fas fa-user"></i>
      
            <div class="div">
             
              <input type="text" placeholder="Mobile No"class="input" maxlength="10">
            </div>
          </div>
          <input type="submit" class="btn" value="OTP">
        </form>
      </div>
    </div>
